params {
    fhir_dir        = "$baseDir/data/JSON" 
    reference       = "$baseDir/data/H37Rv.fasta"
    results_dir     = "$baseDir/results"
    version         = "1.5.0"
    snp_threshold       = 12 // https://doi.org/10.1016/S1473-3099(12)70277-3
    use_fhir_server     = false // set to true to fetch from FHIR server, false to use local fhir_dir
    fhir_server_url     = ""
    access_token_file   = "$baseDir/data/access_token.json"
    fetch_since         = "" // e.g. "2025-12-25" to only fetch data updated after this date
    upload_results      = false // set to true to upload distance matrix to FHIR server
}

process {
    errorStrategy = 'terminate'
    cpus = 6
    memory = '14 GB'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}
